* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.nav {
  background-color: #5E5E5E;
  padding: 10px 0;
  color: #FFF;
  display: flex;
  align-items: flex-start;
}

.nav-item {
  color: #FFF;
  padding: 0 10px;
}

.nav-logo {
  width: 136px;
}

.header {
  background-color: black;
}

.header-title {
  position: absolute;
  z-index: 1;
  color: #FFF;
}

.header-banner {
  background-image: url("/images/banner.jpg");
  opacity: 0.6;
  min-height: 350px;
  background-size: cover;
  background-position: center center;
  background-color: black;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}